body {
  margin: 0px;
  background-image: url(../assets/main_bg.png);
  background-size: cover;
  background-color: #f5f5f5;
  overflow-x: hidden;
  overflow-y: auto;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

h1 {
  margin: 0px;
}

.header {
  height: 100px;
  width: 1035px;
  min-width: 770px;
  margin: auto;
  position: sticky;
}
.header-name {
  position: absolute;
  margin: auto;
  left: 15px;
  bottom: 40px;
  width: 100px;
  height: 20px;
  font-size: 20px;
  font-family: "Montserrat", Helvetica, sans-serif;
}
.header-name span {
  color: #2eca7f;
}
.header-navbar {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  right: -17px;
  bottom: 40px;
  font-size: 15px;
  font-family: "Montserrat", Helvetica, sans-serif;
}
.header-navbar-item-home {
  transition: all 0.2s ease-in-out;
  padding-bottom: 0px;
  position: relative;
  width: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #595959;
  text-decoration: none;
}
.header-navbar-item-home-line {
  width: 24px;
  height: 2px;
  background-color: #2eca7f;
  position: absolute;
  bottom: -10px;
  opacity: 1;
}
.header-navbar-item-home::after {
  content: "";
  width: 24px;
  height: 2px;
  background-color: #2eca7f;
  position: absolute;
  right: 29px;
  bottom: -10px;
  opacity: 0;
}
.header-navbar-item-home:hover {
  cursor: pointer;
}
.header-navbar-item-home:hover::after {
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.header-navbar-item-resume {
  transition: all 0.2s ease-in-out;
  padding-bottom: 0px;
  position: relative;
  width: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #9a9a9a;
  text-decoration: none;
}
.header-navbar-item-resume-line {
  width: 24px;
  height: 2px;
  background-color: #2eca7f;
  position: absolute;
  bottom: -10px;
  opacity: 0;
}
.header-navbar-item-resume::after {
  content: "";
  width: 24px;
  height: 2px;
  background-color: #2eca7f;
  position: absolute;
  right: 29px;
  bottom: -10px;
  opacity: 0;
}
.header-navbar-item-resume:hover {
  cursor: pointer;
}
.header-navbar-item-resume:hover::after {
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.header-navbar-item-projects {
  transition: all 0.2s ease-in-out;
  padding-bottom: 0px;
  position: relative;
  width: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #9a9a9a;
  text-decoration: none;
}
.header-navbar-item-projects-line {
  width: 24px;
  height: 2px;
  background-color: #2eca7f;
  position: absolute;
  bottom: -10px;
  opacity: 0;
}
.header-navbar-item-projects::after {
  content: "";
  width: 24px;
  height: 2px;
  background-color: #2eca7f;
  position: absolute;
  right: 29px;
  bottom: -10px;
  opacity: 0;
}
.header-navbar-item-projects:hover {
  cursor: pointer;
}
.header-navbar-item-projects:hover::after {
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.header-navbar-item-blog {
  transition: all 0.2s ease-in-out;
  padding-bottom: 0px;
  position: relative;
  width: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #9a9a9a;
  text-decoration: none;
}
.header-navbar-item-blog-line {
  width: 24px;
  height: 2px;
  background-color: #2eca7f;
  position: absolute;
  bottom: -10px;
  opacity: 0;
}
.header-navbar-item-blog::after {
  content: "";
  width: 24px;
  height: 2px;
  background-color: #2eca7f;
  position: absolute;
  right: 29px;
  bottom: -10px;
  opacity: 0;
}
.header-navbar-item-blog:hover {
  cursor: pointer;
}
.header-navbar-item-blog:hover::after {
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.header-navbar-item-contact {
  transition: all 0.2s ease-in-out;
  padding-bottom: 0px;
  position: relative;
  width: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #9a9a9a;
  text-decoration: none;
}
.header-navbar-item-contact-line {
  width: 24px;
  height: 2px;
  background-color: #2eca7f;
  position: absolute;
  bottom: -10px;
  opacity: 0;
}
.header-navbar-item-contact::after {
  content: "";
  width: 24px;
  height: 2px;
  background-color: #2eca7f;
  position: absolute;
  right: 29px;
  bottom: -10px;
  opacity: 0;
}
.header-navbar-item-contact:hover {
  cursor: pointer;
  color: #595959;
}
.header-navbar-item-contact:hover::after {
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.body {
  display: flex;
  position: relative;
  perspective: 800px;
}
.body-home {
  transform-origin: right 0px -1000px;
  z-index: 1000;
  opacity: 1;
  transition: all 0.2s ease;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 1035px;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
}
.body-home_top {
  height: 305px;
  background-color: #2eca7f;
  background-image: url(../assets/sp_main_bg.png);
  background-size: cover;
  position: relative;
}
.body-home_top_photo {
  width: 280px;
  height: 280px;
  background-color: green;
  position: absolute;
  top: 50px;
  left: 50px;
  background-image: url(../assets/photo.png);
  border: 5px solid white;
  background-size: cover;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  z-index: 100;
}
.body-home_top_photo:hover {
  transform: translateY(-9px);
  box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
}
.body-home_top_contact {
  width: 640px;
  height: 200px;
  position: absolute;
  top: 56px;
  right: 23px;
}
.body-home_top_contact-name {
  text-align: center;
  color: #fff;
  font-size: 34px;
  font-family: "Montserrat", Helvetica, sans-serif;
  margin: 30px 0px 0px 0px;
}
.body-home_top_contact-job {
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-family: "Montserrat", Helvetica, sans-serif;
  margin: 12px;
}
.body-home_top_contact-media {
  height: 60px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.body-home_top_contact-media-twitter {
  height: 36px;
  width: 36px;
  background-color: white;
  border-radius: 100em;
  margin: 3px;
  display: flex;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: #a2a0a0;
}
.body-home_top_contact-media-twitter:hover {
  box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
}
.body-home_top_contact-media-twitter_icon {
  margin: auto;
}
.body-home_top_contact-media-facebook {
  height: 36px;
  width: 36px;
  background-color: white;
  border-radius: 100em;
  margin: 3px;
  display: flex;
  text-decoration: none;
  color: #a2a0a0;
  transition: all 0.3s ease-in-out;
}
.body-home_top_contact-media-facebook:hover {
  box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
}
.body-home_top_contact-media-facebook_icon {
  margin: auto;
}
.body-home_top_contact-media-instagram {
  height: 36px;
  width: 36px;
  background-color: white;
  border-radius: 100em;
  margin: 3px;
  display: flex;
  text-decoration: none;
  color: #a2a0a0;
  transition: all 0.3s ease-in-out;
}
.body-home_top_contact-media-instagram:hover {
  box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
}
.body-home_top_contact-media-instagram_icon {
  margin: auto;
}
.body-home_bottom {
  height: 265px;
  background-color: white;
  position: relative;
}
.body-home_bottom-content {
  width: 1035px;
  height: 233px;
  position: absolute;
  bottom: 0px;
}
.body-home_bottom-content-frame {
  height: 156px;
  width: 962px;
  margin: 20px auto;
  display: flex;
  position: relative;
}
.body-home_bottom-content-frame_intro {
  width: 451px;
  height: 128px;
  position: absolute;
  left: 15px;
  font-family: "Montserrat", Helvetica, sans-serif;
}
.body-home_bottom-content-frame_intro h1 {
  font-size: 22px;
}
.body-home_bottom-content-frame_intro h1 span {
  color: #2eca7f;
}
.body-home_bottom-content-frame_intro p {
  line-height: 1.5em;
  font-size: 15px;
}
.body-home_bottom-content-frame_contact {
  width: 380px;
  height: 156px;
  position: absolute;
  right: 35px;
  font-family: "Montserrat", Helvetica, sans-serif;
}
.body-home_bottom-content-frame_contact-items {
  list-style: none;
  padding: 0px;
  margin: 0px;
  position: relative;
}
.body-home_bottom-content-frame_contact-items li {
  line-height: 2em;
  font-size: 14px;
}
.body-home_bottom-content-frame_contact-items_value {
  position: absolute;
  left: 120px;
  color: #aa9e9e;
}
.body-home_bottom-content-frame_contact-items_value a {
  text-decoration: none;
  color: #2eca7f;
}
.body-resume {
  transform-origin: right 0px -1000px;
  opacity: 0;
  transition: all 0.2s ease;
  width: 1035px;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}
.body-resume_top {
  width: 1035px;
  height: 125px;
  background-color: #2eca7f;
  background-image: url(../assets/sp_main_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: bold;
}
.body-resume_bottom {
  background-color: white;
  width: 1035px;
  display: flex;
}
.body-resume_bottom-content {
  width: 950px;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
}
.body-resume_bottom-content-education {
  width: 475px;
  height: 550px;
}
.body-resume_bottom-content-education-title {
  background-color: white;
  width: 451px;
  height: 31px;
  margin: 5px auto;
  display: flex;
  align-items: center;
  font-size: 19px;
  font-style: bold;
  font-family: "Montserrat", Helvetica, sans-serif;
}
.body-resume_bottom-content-education-progress {
  background-color: white;
  width: 451px;
  height: 460px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.body-resume_bottom-content-education-progress::before {
  content: "";
  width: 2px;
  height: 460px;
  background-color: #e6e6e6;
  position: absolute;
  top: -5px;
  left: 1px;
}
.body-resume_bottom-content-education-progress-element {
  background-color: white;
  width: 429px;
  height: 130px;
  margin: 10px 20px auto;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  border-left: 2px solid #2eca7f;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
}
.body-resume_bottom-content-education-progress-element:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-education-progress-element_circle {
  background-color: white;
  width: 8px;
  height: 8px;
  border-radius: 100em;
  position: absolute;
  left: -26px;
  top: 20px;
  border: 2px solid #2eca7f;
}
.body-resume_bottom-content-education-progress-element_circle::after {
  background-color: #2eca7f;
  content: "";
  width: 14px;
  height: 2px;
  position: absolute;
  left: 10px;
  top: 3px;
}
.body-resume_bottom-content-education-progress-element_title {
  margin: 15px 0px 0px 20px;
  font-size: 16px;
}
.body-resume_bottom-content-education-progress-element_time {
  margin: 6px 0px 0px 20px;
  font-size: 12px;
  color: #2eca7f;
  position: relative;
}
.body-resume_bottom-content-education-progress-element_time::after {
  content: "";
  width: 1.5px;
  height: 14px;
  background-color: #cdcdcd;
  position: absolute;
  left: 38px;
}
.body-resume_bottom-content-education-progress-element_time span {
  color: #9e9e9e;
  margin: 0px 0px 0px 20px;
}
.body-resume_bottom-content-education-progress-element_detail {
  margin: 0px;
  font-size: 15px;
  margin: 10px 0px 0px 20px;
  line-height: 1.5em;
}
.body-resume_bottom-content-experience {
  width: 475px;
  height: 550px;
  width: 475px;
  height: 550px;
}
.body-resume_bottom-content-experience-title {
  background-color: white;
  width: 451px;
  height: 31px;
  margin: 5px auto;
  display: flex;
  align-items: center;
  font-size: 19px;
  font-style: bold;
  font-family: "Montserrat", Helvetica, sans-serif;
}
.body-resume_bottom-content-experience-progress {
  background-color: white;
  width: 451px;
  height: 460px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.body-resume_bottom-content-experience-progress::before {
  content: "";
  width: 2px;
  height: 460px;
  background-color: #e6e6e6;
  position: absolute;
  top: -5px;
  left: 1px;
}
.body-resume_bottom-content-experience-progress-element {
  background-color: white;
  width: 429px;
  height: 130px;
  margin: 10px 20px auto;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  border-left: 2px solid #2eca7f;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
}
.body-resume_bottom-content-experience-progress-element:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-experience-progress-element_circle {
  background-color: white;
  width: 8px;
  height: 8px;
  border-radius: 100em;
  position: absolute;
  left: -26px;
  top: 20px;
  border: 2px solid #2eca7f;
}
.body-resume_bottom-content-experience-progress-element_circle::after {
  background-color: #2eca7f;
  content: "";
  width: 14px;
  height: 2px;
  position: absolute;
  left: 10px;
  top: 3px;
}
.body-resume_bottom-content-experience-progress-element_title {
  margin: 15px 0px 0px 20px;
  font-size: 16px;
}
.body-resume_bottom-content-experience-progress-element_time {
  margin: 6px 0px 0px 20px;
  font-size: 12px;
  color: #2eca7f;
  position: relative;
}
.body-resume_bottom-content-experience-progress-element_time::after {
  content: "";
  width: 1.5px;
  height: 14px;
  background-color: #cdcdcd;
  position: absolute;
  left: 38px;
}
.body-resume_bottom-content-experience-progress-element_time span {
  color: #9e9e9e;
  margin: 0px 0px 0px 20px;
}
.body-resume_bottom-content-experience-progress-element_detail {
  margin: 0px;
  font-size: 15px;
  margin: 10px 0px 0px 20px;
  line-height: 1.5em;
}
.body-resume_bottom-content-graph {
  width: 950px;
}
.body-resume_bottom-content-graph-title {
  font-size: 22px;
  font-style: bold;
  font-family: "Montserrat", Helvetica, sans-serif;
  margin-left: 11px;
  margin-bottom: 40px;
}
.body-resume_bottom-content-graph-title span {
  color: #2eca7f;
}
.body-resume_bottom-content-graph-content {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  position: relative;
}
.body-resume_bottom-content-graph-content-title {
  font-family: "Montserrat", Helvetica, sans-serif;
  text-align: center;
  margin: 30px;
}
.body-resume_bottom-content-graph-content-mask {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 40px;
  opacity: 0.1;
  color: gray;
  position: absolute;
  width: 950px;
  text-align: center;
  margin-top: -80px;
}
.body-resume_bottom-content-graph-content-tools {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.body-resume_bottom-content-graph-content-tools-xd {
  height: 50px;
  width: 50px;
  background-color: white;
  background-image: url("../assets/design/adobexd.png");
  background-size: cover;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px black;
}
.body-resume_bottom-content-graph-content-tools-xd:hover {
  box-shadow: 0px 0px 8px 0px black;
}
.body-resume_bottom-content-graph-content-tools-xd::after {
  content: "Adobe XD";
  position: absolute;
  width: 70px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-agile {
  height: 50px;
  width: 50px;
  background-color: white;
  background-image: url("../assets/tools/agile.svg");
  background-size: contain;
  background-position: center;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-agile:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-agile::after {
  content: "Agile";
  position: absolute;
  width: 70px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-git {
  height: 50px;
  width: 50px;
  background-color: white;
  background-image: url("../assets/tools/git.svg");
  background-size: contain;
  background-position: center;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-git:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-git::after {
  content: "Git";
  position: absolute;
  width: 70px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-html5 {
  height: 50px;
  width: 50px;
  background-color: white;
  background-image: url("../assets/front-end/html5.png");
  background-size: cover;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-html5:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-html5::after {
  content: "Html5";
  position: absolute;
  width: 70px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-css3 {
  height: 50px;
  width: 50px;
  background-color: white;
  background-image: url("../assets/front-end/css3.png");
  background-size: cover;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-css3:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-css3::after {
  content: "Css3";
  position: absolute;
  width: 70px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-sass {
  height: 50px;
  width: 50px;
  background-color: white;
  background-image: url("../assets/front-end/sass.png");
  background-size: cover;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-sass:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-sass::after {
  content: "Sass";
  position: absolute;
  width: 70px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-bootstrap {
  height: 50px;
  width: 50px;
  background-color: white;
  background-image: url("../assets/front-end/bootstrap.png");
  background-size: cover;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px black;
}
.body-resume_bottom-content-graph-content-tools-bootstrap:hover {
  box-shadow: 0px 0px 8px 0px black;
}
.body-resume_bottom-content-graph-content-tools-bootstrap::after {
  content: "Bootstrap";
  position: absolute;
  width: 70px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-javascript {
  height: 50px;
  width: 50px;
  background-color: white;
  background-image: url("../assets/front-end/js.png");
  background-size: contain;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-javascript:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-javascript::after {
  content: "JavaScript";
  position: absolute;
  width: 70px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-es6 {
  height: 50px;
  width: 50px;
  background-color: white;
  background-image: url("../assets/front-end/esix.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-es6:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-es6::after {
  content: "Es6";
  position: absolute;
  width: 70px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-typescript {
  height: 50px;
  width: 50px;
  background-color: white;
  background-image: url("../assets/front-end/typescript.png");
  background-size: contain;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px black;
}
.body-resume_bottom-content-graph-content-tools-typescript:hover {
  box-shadow: 0px 0px 8px 0px black;
}
.body-resume_bottom-content-graph-content-tools-typescript::after {
  content: "TypeScript";
  position: absolute;
  width: 70px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-csharp {
  height: 50px;
  width: 50px;
  background-color: white;
  background-image: url("../assets/front-end/csharp.png");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-csharp:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-csharp::after {
  content: "C#";
  position: absolute;
  width: 70px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-reactjs {
  height: 50px;
  width: 50px;
  background-color: white;
  background-image: url("../assets/front-end/react.svg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-reactjs:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-reactjs::after {
  content: "React.js";
  position: absolute;
  width: 70px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-redux {
  height: 50px;
  width: 80px;
  background-color: white;
  background-image: url("../assets/front-end/redux.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-redux:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-redux::after {
  content: "Redux";
  position: absolute;
  width: 100px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-reduxsaga {
  height: 50px;
  width: 80px;
  background-color: white;
  background-image: url("../assets/front-end/redux-saga.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-reduxsaga:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-reduxsaga::after {
  content: "Redux-Saga";
  position: absolute;
  width: 100px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-flexbox {
  height: 50px;
  width: 80px;
  background-color: white;
  background-image: url("../assets/front-end/flexbox.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-flexbox:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-flexbox::after {
  content: "FlexBox";
  position: absolute;
  width: 100px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-uidesign {
  height: 50px;
  width: 80px;
  background-color: white;
  background-image: url("../assets/front-end/uiux.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-uidesign:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-uidesign::after {
  content: "UI UX design";
  position: absolute;
  width: 100px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-jwt {
  height: 50px;
  width: 50px;
  background-color: white;
  background-image: url("../assets/front-end/JWT.png");
  background-size: cover;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-jwt:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-jwt::after {
  content: "JWT";
  position: absolute;
  width: 70px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-oauth {
  height: 50px;
  width: 50px;
  background-color: white;
  background-image: url("../assets/front-end/oauth.png");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-oauth:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-oauth::after {
  content: "Oauth";
  position: absolute;
  width: 70px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-webpack {
  height: 50px;
  width: 50px;
  background-color: white;
  background-image: url("../assets/front-end/webpeck.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-webpack:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-webpack::after {
  content: "WebPack";
  position: absolute;
  width: 70px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-expressjs {
  height: 50px;
  width: 150px;
  background-color: white;
  background-image: url("../assets/back-end/expressjs.jpg");
  background-size: cover;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-expressjs:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-expressjs::after {
  content: "Express.js";
  position: absolute;
  width: 170px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-database {
  height: 50px;
  width: 50px;
  background-color: white;
  background-image: url("../assets/back-end/db.png");
  background-size: cover;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-database:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-database::after {
  content: "Database";
  position: absolute;
  width: 70px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-mongodb {
  height: 50px;
  width: 150px;
  background-color: white;
  background-image: url("../assets/back-end/mongo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-mongodb:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-mongodb::after {
  content: "MongoDB";
  position: absolute;
  width: 170px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-mysql {
  height: 50px;
  width: 50px;
  background-color: white;
  background-image: url("../assets/back-end/mysql.svg");
  background-size: cover;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-mysql:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-mysql::after {
  content: "MySQL";
  position: absolute;
  width: 70px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-restfulapi {
  height: 50px;
  width: 50px;
  background-color: white;
  background-image: url("../assets/back-end/restfulapi.svg");
  background-size: cover;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-restfulapi:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-restfulapi::after {
  content: "RESTful API";
  position: absolute;
  width: 70px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-netcore {
  height: 50px;
  width: 80px;
  background-color: white;
  background-image: url("../assets/back-end/net.jpg");
  background-size: cover;
  background-position: center;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-netcore:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-netcore::after {
  content: ".NET Core";
  position: absolute;
  width: 100px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-postman {
  height: 50px;
  width: 50px;
  background-color: white;
  background-image: url("../assets/back-end/postman.jpg");
  background-size: cover;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-postman:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-postman::after {
  content: "Postman";
  position: absolute;
  width: 70px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-swagger {
  height: 50px;
  width: 50px;
  background-color: white;
  background-image: url("../assets/back-end/swagger.png");
  background-size: cover;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-swagger:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-swagger::after {
  content: "Swagger";
  position: absolute;
  width: 70px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-java {
  height: 50px;
  width: 50px;
  background-color: white;
  background-image: url("../assets/back-end/java.svg");
  background-size: cover;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-java:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-java::after {
  content: "Java";
  position: absolute;
  width: 70px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-springboot {
  height: 50px;
  width: 100px;
  background-color: white;
  background-image: url("../assets/back-end/springboot.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-springboot:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-springboot::after {
  content: "Spring Boot";
  position: absolute;
  width: 120px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-docker {
  height: 50px;
  width: 50px;
  background-color: white;
  background-image: url("../assets/back-end/docker.svg");
  background-size: cover;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-docker:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-docker::after {
  content: "Docker";
  position: absolute;
  width: 70px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-nodejs {
  height: 50px;
  width: 100px;
  background-color: white;
  background-image: url("../assets/back-end/nodejs.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-nodejs:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-nodejs::after {
  content: "Node.js";
  position: absolute;
  width: 120px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-aws {
  height: 50px;
  width: 50px;
  background-color: white;
  background-image: url("../assets/back-end/aws.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-aws:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-aws::after {
  content: "AWS";
  position: absolute;
  width: 70px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-projects {
  transform-origin: right 0px -1000px;
  opacity: 0;
  transition: all 0.2s ease;
  width: 1035px;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
}
.body-projects_top {
  height: 125px;
  background-color: #2eca7f;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: bold;
  background-image: url(../assets/sp_main_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.body-projects_mid {
  width: 1035px;
  height: 50px;
  position: absolute;
  top: 150px;
  color: black;
  display: flex;
  font-size: 19px;
  font-family: "Montserrat", Helvetica, sans-serif;
  align-items: center;
  padding-left: 45px;
}
.body-projects_mid span {
  color: #2eca7f;
}
.body-projects_bottom {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 85px 20px 30px 20px;
}
.body-projects_bottom-project1 {
  height: 200px;
  width: 280px;
  margin: 20px;
  margin-bottom: 100px;
  border-radius: 1em;
  background-image: url("../assets/projects/p1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: all 1s ease;
}
.body-projects_bottom-project1-github {
  position: absolute;
  width: 280px;
  margin: 0px;
  height: 30px;
  background: linear-gradient(0.85turn, #f7a854, #ebf8e1, #3f87a6);
  color: black;
  bottom: -40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
}
.body-projects_bottom-project1-github-icon {
  margin-right: 10px;
  color: black;
}
.body-projects_bottom-project1-github:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}
.body-projects_bottom-project1:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  background-size: 400px 400px;
  background-position: center;
  cursor: pointer;
}
.body-projects_bottom-project1:hover::before {
  content: "Bootstrap";
  color: white;
  font-size: 15px;
  font-family: "Montserrat", Helvetica, sans-serif;
  text-align: center;
  width: 70px;
  height: 20px;
  border-radius: 0.3em;
  background-color: #076e21;
  position: absolute;
  top: 20px;
  left: 20px;
}
.body-projects_bottom-project1:hover::after {
  content: "Project One";
  font-family: "Montserrat", Helvetica, sans-serif;
  bottom: -58px;
  width: 100%;
  height: 10px;
  position: absolute;
  text-align: center;
}
.body-projects_bottom-project2 {
  height: 200px;
  width: 280px;
  margin: 20px;
  margin-bottom: 100px;
  border-radius: 1em;
  background-image: url("../assets/projects/p2.jpg");
  background-size: contain;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  transition: all 1s ease;
  position: relative;
}
.body-projects_bottom-project2-github {
  position: absolute;
  width: 280px;
  margin: 0px;
  height: 30px;
  background-color: #2eca7f;
  color: white;
  bottom: -40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1em;
}
.body-projects_bottom-project2-github-icon {
  margin-left: 20px;
  margin-right: 10px;
}
.body-projects_bottom-project2-github:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}
.body-projects_bottom-project2:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  background-size: 400px 400px;
  background-position: center;
  cursor: pointer;
}
.body-projects_bottom-project2:hover::before {
  content: "Sass";
  color: white;
  font-size: 15px;
  font-family: "Montserrat", Helvetica, sans-serif;
  text-align: center;
  width: 70px;
  height: 20px;
  border-radius: 0.3em;
  background-color: #076e21;
  position: absolute;
  top: 20px;
  left: 20px;
}
.body-projects_bottom-project2:hover::after {
  content: "Project Two";
  font-family: "Montserrat", Helvetica, sans-serif;
  bottom: -58px;
  width: 280px;
  height: 10px;
  position: absolute;
  text-align: center;
}
.body-projects_bottom-project3 {
  height: 200px;
  width: 280px;
  margin: 20px;
  margin-bottom: 100px;
  border-radius: 1em;
  background-image: url("../assets/projects/p3.jpg");
  background-size: contain;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  transition: all 1s ease;
  position: relative;
}
.body-projects_bottom-project3-github {
  position: absolute;
  width: 280px;
  margin: 0px;
  height: 30px;
  background-color: #2eca7f;
  color: white;
  bottom: -40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1em;
}
.body-projects_bottom-project3-github-icon {
  margin-left: 20px;
  margin-right: 10px;
}
.body-projects_bottom-project3-github:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}
.body-projects_bottom-project3:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  background-size: 400px 400px;
  background-position: center;
  cursor: pointer;
}
.body-projects_bottom-project3:hover::before {
  content: "React";
  color: white;
  font-size: 15px;
  font-family: "Montserrat", Helvetica, sans-serif;
  text-align: center;
  width: 70px;
  height: 20px;
  border-radius: 0.3em;
  background-color: #076e21;
  position: absolute;
  top: 20px;
  left: 20px;
}
.body-projects_bottom-project3:hover::after {
  content: "Project Three";
  font-family: "Montserrat", Helvetica, sans-serif;
  bottom: -58px;
  width: 280px;
  height: 10px;
  position: absolute;
  text-align: center;
}
.body-projects_bottom-project4 {
  height: 200px;
  width: 280px;
  margin: 20px;
  margin-bottom: 100px;
  border-radius: 1em;
  background-image: url("../assets/projects/p4.jpg");
  background-size: contain;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  transition: all 1s ease;
  position: relative;
}
.body-projects_bottom-project4-github {
  position: absolute;
  width: 280px;
  margin: 0px;
  height: 30px;
  background-color: #2eca7f;
  color: white;
  bottom: -40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1em;
}
.body-projects_bottom-project4-github-icon {
  margin-left: 20px;
  margin-right: 10px;
}
.body-projects_bottom-project4-github:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}
.body-projects_bottom-project4:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  background-size: 400px 400px;
  background-position: center;
  cursor: pointer;
}
.body-projects_bottom-project4:hover::before {
  content: "Vue";
  color: white;
  font-size: 15px;
  font-family: "Montserrat", Helvetica, sans-serif;
  text-align: center;
  width: 70px;
  height: 20px;
  border-radius: 0.3em;
  background-color: #076e21;
  position: absolute;
  top: 20px;
  left: 20px;
}
.body-projects_bottom-project4:hover::after {
  content: "Project Four";
  font-family: "Montserrat", Helvetica, sans-serif;
  bottom: -58px;
  width: 280px;
  height: 10px;
  position: absolute;
  text-align: center;
}
.body-projects_bottom-project5 {
  height: 200px;
  width: 280px;
  margin: 20px;
  margin-bottom: 100px;
  border-radius: 1em;
  background-image: url("../assets/projects/p5.jpg");
  background-size: contain;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  transition: all 1s ease;
  position: relative;
}
.body-projects_bottom-project5-github {
  position: absolute;
  width: 280px;
  margin: 0px;
  height: 30px;
  background-color: #2eca7f;
  color: white;
  bottom: -40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1em;
}
.body-projects_bottom-project5-github-icon {
  margin-left: 20px;
  margin-right: 10px;
}
.body-projects_bottom-project5-github:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}
.body-projects_bottom-project5:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  background-size: 400px 400px;
  background-position: center;
  cursor: pointer;
}
.body-projects_bottom-project5:hover::before {
  content: "Design";
  color: white;
  font-size: 15px;
  font-family: "Montserrat", Helvetica, sans-serif;
  text-align: center;
  width: 70px;
  height: 20px;
  border-radius: 0.3em;
  background-color: #076e21;
  position: absolute;
  top: 20px;
  left: 20px;
}
.body-projects_bottom-project5:hover::after {
  content: "Project Five";
  font-family: "Montserrat", Helvetica, sans-serif;
  bottom: -58px;
  width: 280px;
  height: 10px;
  position: absolute;
  text-align: center;
}
.body-projects_bottom-project6 {
  height: 200px;
  width: 280px;
  margin: 20px;
  margin-bottom: 100px;
  border-radius: 1em;
  background-image: url("../assets/projects/p6.jpg");
  background-size: contain;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  transition: all 1s ease;
  position: relative;
  cursor: pointer;
}
.body-projects_bottom-project6-github {
  position: absolute;
  width: 280px;
  margin: 0px;
  height: 30px;
  background-color: #2eca7f;
  color: white;
  bottom: -40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1em;
}
.body-projects_bottom-project6-github-icon {
  margin-left: 20px;
  margin-right: 10px;
}
.body-projects_bottom-project6-github:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}
.body-projects_bottom-project6:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  background-size: 400px 400px;
  background-position: center;
}
.body-projects_bottom-project6:hover::before {
  content: "React";
  color: white;
  font-size: 15px;
  font-family: "Montserrat", Helvetica, sans-serif;
  text-align: center;
  width: 70px;
  height: 20px;
  border-radius: 0.3em;
  background-color: #076e21;
  position: absolute;
  top: 20px;
  left: 20px;
}
.body-projects_bottom-project6:hover::after {
  content: "Project Six";
  font-family: "Montserrat", Helvetica, sans-serif;
  bottom: -58px;
  width: 280px;
  height: 10px;
  position: absolute;
  text-align: center;
}
.body-blog {
  transform-origin: right 0px -1000px;
  opacity: 0;
  transition: all 0.2s ease;
  width: 1035px;
  border-radius: 1em;
  overflow: hidden;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}
.body-blog_top {
  height: 125px;
  background-color: #2eca7f;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: bold;
  background-image: url(../assets/sp_main_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.body-blog_bottom {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px;
  color: black;
  font-size: 35px;
  font-family: "Montserrat", Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  position: relative;
}
.body-blog_bottom-title {
  z-index: 1;
}
.body-blog_bottom-title span {
  color: #2eca7f;
}
.body-blog_bottom-mask {
  z-index: 0;
  position: absolute;
  top: 40px;
  left: 400px;
  color: #f3f3f3;
  background-color: transparent;
  font-size: 50px;
}
.body-contact {
  transform-origin: right 0px -1000px;
  opacity: 0;
  transition: all 0.2s ease;
  width: 1035px;
  border-radius: 1em;
  overflow: hidden;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
}
.body-contact_top {
  height: 125px;
  background-color: #2eca7f;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: bold;
  background-image: url(../assets/sp_main_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.body-contact_bottom {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 0px 20px 0px 20px;
}
.body-contact_bottom-detail {
  width: 480px;
  height: 495px;
  margin: 35px 0px 35px 0px;
  font-family: "Montserrat", Helvetica, sans-serif;
}
.body-contact_bottom-detail-title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 2px;
}
.body-contact_bottom-detail-title span {
  color: #2eca7f;
}
.body-contact_bottom-detail-content-map {
  margin-top: 25px;
  margin-bottom: 30px;
  width: 450px;
  height: 180px;
  background-color: black;
}
.body-contact_bottom-detail-content-list {
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 13px;
}
.body-contact_bottom-detail-content-list-icon {
  width: 36px;
  height: 36px;
  border-radius: 100em;
  background-color: #fafafa;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2eca7f;
  font-size: 18px;
  line-height: 36px;
}
.body-contact_bottom-detail-content-form {
  margin-top: 25px;
  margin-bottom: 30px;
  width: 450px;
  height: 400px;
}
.body-contact_bottom-detail-content-form-detail {
  margin-bottom: 25px;
  display: flex;
  position: relative;
}
.body-contact_bottom-detail-content-form-detail-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  color: #2eca7f;
}
.body-contact_bottom-detail-content-form-detail-icon-comment {
  width: 40px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  color: #2eca7f;
}
.body-contact_bottom-detail-content-form-detail-text {
  border: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  min-width: 80%;
  max-height: 200px;
  min-height: 100%;
  position: relative;
}
.body-contact_bottom-detail-content-form-detail-text-input {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 0;
  font-size: 0.9em;
  margin: 0;
  padding: 0px;
  width: 100%;
  max-width: 80%;
  min-width: 80%;
  max-height: 200px;
  min-height: 100%;
  text-align: left;
  box-shadow: none;
  outline: none;
  font-family: "Roboto", Helvetica, sans-serif;
  z-index: 100;
}
.body-contact_bottom-detail-content-form-detail-text-input:focus {
  transition: all 0.1s ease-in-out;
  border-bottom: 2px solid #2eca7f;
}
.body-contact_bottom-detail-content-form-detail-text-placeholderName {
  z-index: 0;
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: 5px;
  color: #cdcdcd;
  transition: all 0.5s ease-in-out;
}
.body-contact_bottom-detail-content-form-detail-text-placeholderEmail {
  z-index: 0;
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: 5px;
  color: #cdcdcd;
  transition: all 0.5s ease-in-out;
}
.body-contact_bottom-detail-content-form-detail-text-placeholderComment {
  z-index: 0;
  background-color: transparent;
  position: absolute;
  top: 3px;
  left: 5px;
  color: #cdcdcd;
  transition: all 0.5s ease-in-out;
}
.body-contact_bottom-detail-content-form-detail-text-toolTipName {
  visibility: hidden;
  position: relative;
  width: 120px;
  font-size: 10px;
  background-color: #fafafa;
  color: red;
  text-align: center;
  border-radius: 4px;
  padding: 3px 0;
  position: absolute;
  z-index: 1;
  margin-left: 20px;
  margin-top: 2px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}
.body-contact_bottom-detail-content-form-detail-text-toolTipName::after {
  content: "";
  position: absolute;
  top: -110%;
  left: 13%;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fafafe transparent;
}
.body-contact_bottom-detail-content-form-detail-text-toolTipEmail {
  visibility: hidden;
  position: relative;
  width: 120px;
  font-size: 10px;
  background-color: #fafafa;
  color: red;
  text-align: center;
  border-radius: 4px;
  padding: 3px 0;
  position: absolute;
  z-index: 1;
  margin-left: 20px;
  margin-top: 2px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}
.body-contact_bottom-detail-content-form-detail-text-toolTipEmail::after {
  content: "";
  position: absolute;
  top: -110%;
  left: 13%;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fafafe transparent;
}
.body-contact_bottom-detail-content-form-detail-text-toolTipComment {
  visibility: hidden;
  position: relative;
  width: 120px;
  font-size: 10px;
  background-color: #fafafa;
  color: red;
  text-align: center;
  border-radius: 4px;
  padding: 3px 0;
  position: absolute;
  z-index: 1;
  margin-left: 20px;
  margin-top: 2px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}
.body-contact_bottom-detail-content-form-detail-text-toolTipComment::after {
  content: "";
  position: absolute;
  top: -110%;
  left: 13%;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fafafe transparent;
}
.body-contact_bottom-detail-content-form-button {
  background-color: #2eca7f;
  color: #fff;
  border: 0;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.8;
  padding: 0 1.5em;
  outline: none;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.body-contact_bottom-detail-content-form-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

@keyframes pageCome {
  from {
    transform: translateX(1000px) translateY(50vh) rotateY(180deg) scale(0.2);
  }
  to {
    transform: translateX(0px) translateY(0px) rotateY(0deg) scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
