body {
  margin: 0px;
  background-image: url(../assets/main_bg.png);
  background-size: cover;
  background-color: #f5f5f5;
}

h1 {
  margin: 0px;
}

.header {
  height: 100px;
  width: 1035px;
  min-width: 770px;
  margin: auto;
  position: relative;
}
.header-name {
  position: absolute;
  margin: auto;
  left: 15px;
  bottom: 40px;
  width: 100px;
  height: 20px;
  font-size: 20px;
  font-family: "Montserrat", Helvetica, sans-serif;
}
.header-name span {
  color: #2eca7f;
}
.header-navbar {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  right: -17px;
  bottom: 40px;
  font-size: 15px;
  color: #9a9a9a;
  font-family: "Montserrat", Helvetica, sans-serif;
}
.header-navbar div:hover {
  cursor: pointer;
}

.body {
  display: flex;
  justify-content: center;
}
.body-home {
  display: none;
  height: 570px;
  width: 1035px;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
}
.body-home_top {
  height: 305px;
  background-color: #2eca7f;
  background-image: url(../assets/sp_main_bg.png);
  background-size: cover;
  position: relative;
}
.body-home_top_photo {
  width: 280px;
  height: 280px;
  background-color: green;
  position: absolute;
  top: 50px;
  left: 50px;
  background-image: url(../assets/photo.png);
  background-size: cover;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  z-index: 100;
}
.body-home_top_photo:hover {
  transform: translateY(-9px);
  box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
}
.body-home_top_contact {
  width: 640px;
  height: 200px;
  position: absolute;
  top: 56px;
  right: 23px;
}
.body-home_top_contact-name {
  text-align: center;
  color: #fff;
  font-size: 34px;
  font-family: "Montserrat", Helvetica, sans-serif;
  margin: 30px 0px 0px 0px;
}
.body-home_top_contact-job {
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-family: "Montserrat", Helvetica, sans-serif;
  margin: 12px;
}
.body-home_top_contact-media {
  height: 60px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.body-home_top_contact-media-twitter {
  height: 36px;
  width: 36px;
  background-color: white;
  border-radius: 100em;
  margin: 3px;
  display: flex;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: #a2a0a0;
}
.body-home_top_contact-media-twitter:hover {
  box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
}
.body-home_top_contact-media-twitter_icon {
  margin: auto;
}
.body-home_top_contact-media-facebook {
  height: 36px;
  width: 36px;
  background-color: white;
  border-radius: 100em;
  margin: 3px;
  display: flex;
  text-decoration: none;
  color: #a2a0a0;
  transition: all 0.3s ease-in-out;
}
.body-home_top_contact-media-facebook:hover {
  box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
}
.body-home_top_contact-media-facebook_icon {
  margin: auto;
}
.body-home_top_contact-media-instagram {
  height: 36px;
  width: 36px;
  background-color: white;
  border-radius: 100em;
  margin: 3px;
  display: flex;
  text-decoration: none;
  color: #a2a0a0;
  transition: all 0.3s ease-in-out;
}
.body-home_top_contact-media-instagram:hover {
  box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
}
.body-home_top_contact-media-instagram_icon {
  margin: auto;
}
.body-home_bottom {
  height: 265px;
  background-color: white;
  position: relative;
}
.body-home_bottom-content {
  width: 1035px;
  height: 233px;
  position: absolute;
  bottom: 0px;
}
.body-home_bottom-content-frame {
  height: 156px;
  width: 962px;
  margin: 20px auto;
  display: flex;
  position: relative;
}
.body-home_bottom-content-frame_intro {
  width: 451px;
  height: 128px;
  position: absolute;
  left: 15px;
  font-family: "Montserrat", Helvetica, sans-serif;
}
.body-home_bottom-content-frame_intro h1 {
  font-size: 22px;
}
.body-home_bottom-content-frame_intro h1 span {
  color: #2eca7f;
}
.body-home_bottom-content-frame_intro p {
  line-height: 1.5em;
  font-size: 15px;
}
.body-home_bottom-content-frame_contact {
  width: 380px;
  height: 156px;
  position: absolute;
  right: 35px;
  font-family: "Montserrat", Helvetica, sans-serif;
}
.body-home_bottom-content-frame_contact-items {
  list-style: none;
  padding: 0px;
  margin: 0px;
  position: relative;
}
.body-home_bottom-content-frame_contact-items li {
  line-height: 2em;
  font-size: 14px;
}
.body-home_bottom-content-frame_contact-items_value {
  position: absolute;
  left: 120px;
  color: #aa9e9e;
}
.body-home_bottom-content-frame_contact-items_value a {
  text-decoration: none;
  color: #2eca7f;
}
.body-resume {
  display: block;
  width: 1035px;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 500px;
}
.body-resume_top {
  width: 1035px;
  height: 125px;
  background-color: #2eca7f;
  background-image: url(../assets/sp_main_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: bold;
}
.body-resume_bottom {
  background-color: white;
  width: 1035px;
  display: flex;
}
.body-resume_bottom-content {
  width: 950px;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
}
.body-resume_bottom-content-education {
  width: 475px;
  height: 550px;
}
.body-resume_bottom-content-education-title {
  background-color: white;
  width: 451px;
  height: 31px;
  margin: 5px auto;
  display: flex;
  align-items: center;
  font-size: 19px;
  font-style: bold;
  font-family: "Montserrat", Helvetica, sans-serif;
}
.body-resume_bottom-content-education-progress {
  background-color: white;
  width: 451px;
  height: 460px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.body-resume_bottom-content-education-progress::before {
  content: "";
  width: 2px;
  height: 460px;
  background-color: #e6e6e6;
  position: absolute;
  top: -5px;
  left: 1px;
}
.body-resume_bottom-content-education-progress-element {
  background-color: white;
  width: 429px;
  height: 130px;
  margin: 10px 20px auto;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  border-left: 2px solid #2eca7f;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
}
.body-resume_bottom-content-education-progress-element:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-education-progress-element_circle {
  background-color: white;
  width: 8px;
  height: 8px;
  border-radius: 100em;
  position: absolute;
  left: -26px;
  top: 20px;
  border: 2px solid #2eca7f;
}
.body-resume_bottom-content-education-progress-element_circle::after {
  background-color: #2eca7f;
  content: "";
  width: 14px;
  height: 2px;
  position: absolute;
  left: 10px;
  top: 3px;
}
.body-resume_bottom-content-education-progress-element_title {
  margin: 15px 0px 0px 20px;
  font-size: 16px;
}
.body-resume_bottom-content-education-progress-element_time {
  margin: 6px 0px 0px 20px;
  font-size: 12px;
  color: #2eca7f;
  position: relative;
}
.body-resume_bottom-content-education-progress-element_time::after {
  content: "";
  width: 1.5px;
  height: 14px;
  background-color: #cdcdcd;
  position: absolute;
  left: 38px;
}
.body-resume_bottom-content-education-progress-element_time span {
  color: #9e9e9e;
  margin: 0px 0px 0px 20px;
}
.body-resume_bottom-content-education-progress-element_detail {
  margin: 0px;
  font-size: 15px;
  margin: 10px 0px 0px 20px;
  line-height: 1.5em;
}
.body-resume_bottom-content-experience {
  width: 475px;
  height: 550px;
  width: 475px;
  height: 550px;
}
.body-resume_bottom-content-experience-title {
  background-color: white;
  width: 451px;
  height: 31px;
  margin: 5px auto;
  display: flex;
  align-items: center;
  font-size: 19px;
  font-style: bold;
  font-family: "Montserrat", Helvetica, sans-serif;
}
.body-resume_bottom-content-experience-progress {
  background-color: white;
  width: 451px;
  height: 460px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.body-resume_bottom-content-experience-progress::before {
  content: "";
  width: 2px;
  height: 460px;
  background-color: #e6e6e6;
  position: absolute;
  top: -5px;
  left: 1px;
}
.body-resume_bottom-content-experience-progress-element {
  background-color: white;
  width: 429px;
  height: 130px;
  margin: 10px 20px auto;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  border-left: 2px solid #2eca7f;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
}
.body-resume_bottom-content-experience-progress-element:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-experience-progress-element_circle {
  background-color: white;
  width: 8px;
  height: 8px;
  border-radius: 100em;
  position: absolute;
  left: -26px;
  top: 20px;
  border: 2px solid #2eca7f;
}
.body-resume_bottom-content-experience-progress-element_circle::after {
  background-color: #2eca7f;
  content: "";
  width: 14px;
  height: 2px;
  position: absolute;
  left: 10px;
  top: 3px;
}
.body-resume_bottom-content-experience-progress-element_title {
  margin: 15px 0px 0px 20px;
  font-size: 16px;
}
.body-resume_bottom-content-experience-progress-element_time {
  margin: 6px 0px 0px 20px;
  font-size: 12px;
  color: #2eca7f;
  position: relative;
}
.body-resume_bottom-content-experience-progress-element_time::after {
  content: "";
  width: 1.5px;
  height: 14px;
  background-color: #cdcdcd;
  position: absolute;
  left: 38px;
}
.body-resume_bottom-content-experience-progress-element_time span {
  color: #9e9e9e;
  margin: 0px 0px 0px 20px;
}
.body-resume_bottom-content-experience-progress-element_detail {
  margin: 0px;
  font-size: 15px;
  margin: 10px 0px 0px 20px;
  line-height: 1.5em;
}
.body-resume_bottom-content-graph {
  width: 950px;
}
.body-resume_bottom-content-graph-title {
  font-size: 22px;
  font-style: bold;
  font-family: "Montserrat", Helvetica, sans-serif;
  margin-left: 11px;
  margin-bottom: 40px;
}
.body-resume_bottom-content-graph-title span {
  color: #2eca7f;
}
.body-resume_bottom-content-graph-content {
  height: 1000px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding-top: 5px;
  position: relative;
}
.body-resume_bottom-content-graph-content-title {
  font-family: "Montserrat", Helvetica, sans-serif;
  text-align: center;
  margin: 30px;
}
.body-resume_bottom-content-graph-content-mask {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 40px;
  opacity: 0.1;
  color: gray;
  position: absolute;
  width: 950px;
  text-align: center;
  margin-top: -80px;
}
.body-resume_bottom-content-graph-content-tools {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.body-resume_bottom-content-graph-content-tools-xd {
  height: 50px;
  width: 50px;
  background-color: white;
  background-image: url("../assets/design/adobexd.png");
  background-size: cover;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px black;
}
.body-resume_bottom-content-graph-content-tools-xd:hover {
  box-shadow: 0px 0px 8px 0px black;
}
.body-resume_bottom-content-graph-content-tools-xd::after {
  content: "Adobe XD";
  position: absolute;
  width: 70px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-html5 {
  height: 50px;
  width: 50px;
  background-color: white;
  background-image: url("../assets/front-end/html5.png");
  background-size: cover;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-html5:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-html5::after {
  content: "Html5";
  position: absolute;
  width: 70px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-css3 {
  height: 50px;
  width: 50px;
  background-color: white;
  background-image: url("../assets/front-end/css3.png");
  background-size: cover;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-css3:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-css3::after {
  content: "Html5";
  position: absolute;
  width: 70px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-resume_bottom-content-graph-content-tools-expressjs {
  height: 50px;
  width: 150px;
  background-color: white;
  background-image: url("../assets/back-end/expressjs.jpg");
  background-size: cover;
  margin: 20px;
  border-radius: 1em;
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-expressjs:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.body-resume_bottom-content-graph-content-tools-expressjs::after {
  content: "Express.js";
  position: absolute;
  width: 170px;
  bottom: -20px;
  left: -10px;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}
.body-projects {
  display: none;
  height: 725px;
  width: 1035px;
  background-color: red;
  border-radius: 1em;
  overflow: hidden;
}
.body-blog {
  display: none;
}
.body-contact {
  display: none;
}

/*# sourceMappingURL=style.css.map */
