body {
    margin: 0px;
    background-image: url(../assets/main_bg.png);
    background-size: cover;
    background-color: #f5f5f5;
}

h1 {
    margin: 0px;
}

.header {
    // background-color: red;
    height: 100px;
    width: 1035px;
    min-width: 770px;
    margin: auto;
    position: relative;
    &-name {
        position: absolute;
        margin: auto;
        left: 15px;
        bottom: 40px;
        width: 100px;
        height: 20px;
        font-size: 20px;
        font-family: 'Montserrat', Helvetica, sans-serif;
        & span {
            color: #2eca7f;
        }
    }
    &-navbar {
        width: 400px;
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        right: -17px;
        bottom: 40px;
        font-size: 15px;
        color: lighten($color: gray, $amount: 10%);
        font-family: 'Montserrat', Helvetica, sans-serif;
        & div {
            &:hover {
                cursor: pointer;
            }
        }
        // background-color: green;
    }
}

.body {
    height: 100vh;
    // background-color: blue;
    display: flex;
    justify-content: center;
    &-home {
        display: none;
        height: 570px;
        width: 1035px;
        // background-color: red;
        border-radius: 1em;
        overflow: hidden;
        box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
        &_top {
            height: 305px;
            background-color: #2eca7f;
            background-image: url(../assets/sp_main_bg.png);
            background-size: cover;
            position: relative;
            &_photo {
                width: 280px;
                height: 280px;
                background-color: green;
                position: absolute;
                top: 50px;
                left: 50px;
                background-image: url(../assets/photo.png);
                background-size: cover;
                box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
                transition: all 0.3s ease-in-out;
                z-index: 100;
                &:hover {
                    transform: translateY(-9px);
                    box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
                }
            }
            &_contact {
                width: 640px;
                height: 200px;
                position: absolute;
                top: 56px;
                right: 23px;
                // background-color: blue;
                &-name {
                    text-align: center;
                    color: #fff;
                    font-size: 34px;
                    font-family: 'Montserrat', Helvetica, sans-serif;
                    margin: 30px 0px 0px 0px;
                }
                &-job {
                    color: #fff;
                    font-size: 18px;
                    text-align: center;
                    font-family: 'Montserrat', Helvetica, sans-serif;
                    margin: 12px;
                }
                &-media {
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;
                    &-twitter {
                        height: 36px;
                        width: 36px;
                        background-color: white;
                        border-radius: 100em;
                        margin: 3px;
                        display: flex;
                        text-decoration: none;
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
                        }
                        color: darken($color: rgb(165, 163, 163), $amount: 1%);
                        &_icon {
                            margin: auto;
                        }
                    }
                    &-facebook {
                        height: 36px;
                        width: 36px;
                        background-color: white;
                        border-radius: 100em;
                        margin: 3px;
                        display: flex;
                        text-decoration: none;
                        color: darken($color: rgb(165, 163, 163), $amount: 1%);
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
                        }
                        &_icon {
                            margin: auto;
                        }
                    }
                    &-instagram {
                        height: 36px;
                        width: 36px;
                        background-color: white;
                        border-radius: 100em;
                        margin: 3px;
                        display: flex;
                        text-decoration: none;
                        color: darken($color: rgb(165, 163, 163), $amount: 1%);
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
                        }
                        &_icon {
                            margin: auto;
                        }
                    }
                }
            }
        }
        &_bottom {
            height: 265px;
            background-color: white;
            position: relative;
            &-content {
                width: 1035px;
                height: 233px;
                // background-color: yellow;
                position: absolute;
                bottom: 0px;
                &-frame {
                    height: 156px;
                    width: 962px;
                    // background-color: red;
                    margin: 20px auto;
                    display: flex;
                    position: relative;
                    &_intro {
                        width: 451px;
                        height: 128px;
                        // background-color: green;
                        position: absolute;
                        left: 15px;
                        font-family: 'Montserrat', Helvetica, sans-serif;
                        & h1 {
                            font-size: 22px;
                            & span {
                                color: #2eca7f;
                            }
                        }
                        & p {
                            line-height: 1.5em;
                            font-size: 15px;
                        }
                    }
                    &_contact {
                        width: 380px;
                        height: 156px;
                        // background-color: red;
                        position: absolute;
                        right: 35px;
                        font-family: 'Montserrat', Helvetica, sans-serif;
                        &-items {
                            list-style: none;
                            // background-color: blue;
                            padding: 0px;
                            margin: 0px;
                            position: relative;
                            & li {
                                line-height: 2.0em;
                                font-size: 14px;
                            }
                            &_value {
                                position: absolute;
                                left: 120px;
                                color: darken($color: rgb(182, 172, 172), $amount: 5%);
                                & a {
                                    text-decoration: none;
                                    color: #2eca7f;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &-resume {
        display: block;
        width: 1035px;
        height: 960px;
        // background-color: red;
        border-radius: 1em;
        overflow: hidden;
        box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
        &_top {
            width: 1035px;
            height: 125px;
            background-color: #2eca7f;
            background-image: url(../assets/sp_main_bg.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 44px;
            font-family: 'Montserrat', Helvetica, sans-serif;
            font-weight: bold;
        }
        &_bottom {
            background-color: white;
            width: 1035px;
            height: 835px;
            display: flex;
            &-content {
                // background-color: red;
                width: 950px;
                height: 756px;
                margin: 30px auto;
                display: flex;
                flex-wrap: wrap;
                &-education {
                    // background-color: gray;
                    width: 475px;
                    height: 550px;
                    &-title {
                        background-color: white;
                        width: 451px;
                        height: 31px;
                        margin: 5px auto;
                        display: flex;
                        align-items: center;
                        font-size: 20px;
                        font-style: bold;
                    }
                    &-progress {
                        background-color: white;
                        width: 451px;
                        height: 460px;
                        margin: 30px auto;
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        &::before {
                            content: '';
                            width: 2px;
                            height: 460px;
                            background-color: lighten($color: gray, $amount: 40%);
                            position: absolute;
                            top: -5px;
                            left: 1px;
                        }
                        &-element {
                            background-color: white;
                            width: 429px;
                            height: 130px;
                            margin: 10px 20px auto;
                            box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
                            border-left: 2px solid #2eca7f;
                            position: relative;
                            &:hover {
                                box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
                            }
                            &_circle {
                                background-color: white;
                                width: 8px;
                                height: 8px;
                                border-radius: 100em;
                                position: absolute;
                                left: -26px;
                                top: 20px;
                                border: 2px solid #2eca7f;
                                &::after {
                                    background-color: #2eca7f;
                                    content: '';
                                    width: 14px;
                                    height: 2px;
                                    // give the position of content
                                    position: absolute;
                                    left: 10px;
                                    top: 3px;
                                }
                            }
                        }
                    }
                }
                &-experience {
                    width: 475px;
                    height: 550px;
                    background-color: darken($color: gray, $amount: 20);
                    flex: none;
                }
                &_graph {
                    height: 206px;
                    width: 950px;
                    background-color: darken($color: gray, $amount: 30);
                }
            }
        }
    }
    &-services {
        display: none;
        height: 725px;
        width: 1035px;
        background-color: red;
        border-radius: 1em;
        overflow: hidden;
    }
    &-blog {
        display: none;
    }
    &-contact {
        display: none;
    }
}